.wrapperNavBar {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 70px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.wrapperNavBar a {
    cursor: pointer;
    letter-spacing: .4px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #5e5e5e;
    position: relative;
}

.wrapperNavBar a:hover {
    color: #0064f9;
}

.wrapperNavBar .activeLink {
    color: #0064f9;
}

.wrapperNavBar a.activeLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #0064f9;
    left: 0;
    bottom: 0;
}



